<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-90592976863-ios-2ad4251a01deafdda62e6a</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>LexendMega-Black.ttf</string>
		<string>LexendMega-ExtraBold.ttf</string>
		<string>LexendMega-Bold.ttf</string>
		<string>LexendMega-SemiBold.ttf</string>
		<string>LexendMega-Medium.ttf</string>
		<string>LexendMega-Regular.ttf</string>
		<string>LexendMega-Light.ttf</string>
		<string>LexendMega-Thin.ttf</string>
		<string>LexendMega-ExtraLight.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
